<section id="contact" class="py-10 px-4">
  <div class="max-w-4xl mx-auto bg-linear-to-r from-slate-900 to-purple-900/20 border border-slate-800 p-12 rounded-[3rem] text-center backdrop-blur-xl relative overflow-hidden">
    
    <div class="absolute -top-24 -right-24 w-64 h-64 bg-purple-500/10 rounded-full blur-[100px]"></div>
    
    <h2 class="text-white text-4xl md:text-5xl font-serif font-bold mb-6 tracking-tighter">
        ¿Te gusta lo que ves?
    </h2>
    <p class="text-slate-300 text-lg mb-10 max-w-2xl mx-auto">
        Busco nuevas oportunidades donde aportar mi experiencia en <strong>Java</strong> y <strong>Salesforce</strong>. Si tienes un proyecto en mente o simplemente quieres charlar, mi bandeja de entrada siempre está abierta.
    </p>
    
    <div class="flex flex-col md:flex-row gap-4 justify-center">
        <a href="mailto:juansanchezdecorta@gmail.com" class="px-8 py-4 bg-[#ff8904] text-black font-bold rounded-full hover:bg-[#ff8904]/80 transition-all shadow-lg shadow-[#ff8904]/20">
            Enviame un Email
        </a>
        <a href="https://www.linkedin.com/in/juan-sánchez-de-corta-098309237" target="_blank" class="px-8 py-4 bg-slate-800 text-white font-bold rounded-full border border-slate-700 hover:bg-slate-700 transition-all">
            Hablemos por LinkedIn
        </a>
    </div>
  </div>
</section>