---
import Timeline from "./Timeline.astro";
---

<section id="experience" class="flex flex-col items-center justify-center px-4 mb-12 text-center">
  <h2 class="text-white text-4xl md:text-8xl font-serif font-bold tracking-tighter mb-12">
    Mi Experiencia
  </h2>

  <Timeline />

</section>