---
import CardProject from "./CardProject.astro";
---

<section id="projects" class="flex flex-col items-center justify-center px-4 mb-12 text-center">
  <h2 class="text-white text-4xl md:text-8xl font-serif font-bold tracking-tighter mb-12">
    Mis <span class="text-[#feaf12]">Proyectos</span>
  </h2>

  <CardProject title="Proyecto estética" description="Un proyecto de estética que busca mejorar la apariencia de los clientes." image="../src/assets/proyecto_estetica.webp" link="https://esteticasandramzcordoba.vercel.app/" />
</section>